NEXT_PUBLIC_SUPABASE_URL=https://flfkjabwkdhymgqjaphk.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsZmtqYWJ3a2RoeW1ncWphcGhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNjI3OTMsImV4cCI6MjA5NzczODc5M30.hlcRReScdhTugHCuUNEhnHnPJgmgsStOjFNgRkMsniU

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsZmtqYWJ3a2RoeW1ncWphcGhrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjE2Mjc5MywiZXhwIjoyMDk3NzM4NzkzfQ.jYguMm41ox5YDzb3rq0J7l2OAcDUgm-y3vsmbotp64A

NEXT_PUBLIC_WHATSAPP_NUMBER=2347084657676

NEXT_PUBLIC_SITE_NAME=Perfect Finish

NEXT_PUBLIC_SITE_URL=http://localhost:3000

ADMIN_PASSWORD = perfect2026$

ADMIN_SESSION_SECRET = k9Xm2pQ7vR4nL8wT3hJ6bN1cF5yA0eZs